html {
  background-color:slategray;
}

h2 {
  color: lightgoldenrodyellow;
}

h3 {
  margin: 5px;
}

hr {
  width: 100%;
  height: 0px;
  margin: auto;
  position: relative;
}

#bar-container {
  display: flex;
  width: 90%;
  height: 500px;
  outline-style: groove;
  outline-width: 5px;
  outline-color: black;
  padding: 5px;
  background-color: lightslategray;
}

#y-axis-label {
  writing-mode: sideways-lr;
  text-orientation:sideways;
  text-align: center;
}

#data-scale {
  display: flex;
  border-left: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: black;
  min-width: 10px;
  padding: 0px;
}

.bar {
  outline-width: 3px;
  outline-style: outset;
  outline-color: black;
  flex: 1;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: auto;
  border-radius: 10px 10px 0 0;
  position: relative;

}

.bar-label {
  margin-bottom: 4px;
  margin-top: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0px;
}

.bar-label-top {
  top: 2%;
}
.bar-label-middle {
  top: 50%;
}
.bar-label-bottom {
  bottom: 0;
}

.footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
}
